<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>

      <%= yield %>

      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>

<%# アノテーションメモ %>
<%# TODO:	あとで追加、修正するべき機能がある。
FIXME:	既知の不具合があるコード。修正が必要。
HACK:	あまりきれいじゃないコード。リファクタリングが必要。
XXX:	危険！動くけどなぜうごくかわからない。
REVIEW:	意図した通りに動くか、見直す必要がある。
OPTIMIZE:	無駄が多く、ボトルネックになっている。
CHANGED:	コードをどのように変更したか。
NOTE:	なぜ、こうなったという情報を残す。
WARNING:	注意が必要。 %>